---
http_interactions:
- request:
    method: get
    uri: https://api.alerts.in.ua/v1/alerts/active.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ALERTS_IN_UA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 20 Apr 2023 00:10:44 GMT
      X-Ws-Allowed:
      - 'Yes'
    body:
      encoding: UTF-8
      string: '{"alerts":[{"id":8757,"location_title":"Луганська область","location_type":"oblast","started_at":"2022-04-04T16:45:39.000Z","finished_at":null,"updated_at":"2022-04-08T08:04:26.316Z","alert_type":"air_raid","location_oblast":"Луганська
        область","location_uid":"16","notes":null,"calculated":null}],"meta":{"last_updated_at":"2023/04/20 00:10:44 +0000","type":"full"},"disclaimer":"If
        you use python try our official alerts_in_ua PiP package."}'
  recorded_at: Thu, 20 Apr 2023 00:49:42 GMT
- request:
    method: get
    uri: https://api.alerts.in.ua/v1/alerts/active.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ALERTS_IN_UA_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 20 Apr 2023 00:10:44 GMT
      X-Ws-Allowed:
      - 'Yes'
    body:
      encoding: UTF-8
      string: '{"alerts":[{"id":8757,"location_title":"Луганська область","location_type":"oblast","started_at":"2022-04-04T16:45:39.000Z","finished_at":null,"updated_at":"2022-04-08T08:04:26.316Z","alert_type":"air_raid","location_oblast":"Луганська
        область","location_uid":"16","notes":null,"calculated":null}],"meta":{"last_updated_at":"2023/04/20 00:10:44 +0000","type":"full"},"disclaimer":"If
        you use python try our official alerts_in_ua PiP package."}'
  recorded_at: Thu, 20 Apr 2023 00:49:43 GMT
recorded_with: VCR 6.1.0
